

<script>
    export default {
        name: 'commentForm',
        data() {
            return {
                browseGifs: false
            }
        },

        methods:{
            toggleBrowseGifs(){
                if(this.browseGifs){
                    this.removeImgFromBody();
                }
                this.browseGifs = !this.browseGifs
            },

            setImgToBody(path){
                this.$refs['isGifComment'].value = 1;
                this.$refs['body'].value = path;
            },

            removeImgFromBody(){
                this.$refs['isGifComment'].value = 0;
                this.$refs['body'].value = '';
            }
        }
    }
</script>

<template>

    <div>

        <div class="form-group">

            <textarea name="body" ref="body" placeholder="Enter your comment" class="form-control"></textarea>
            <input type="hidden" ref="isGifComment" name="gif_comment" value="0" />

        </div>

        <div class="form-group">

            <button class="btn btn-primary" type="submit">Add Comment</button>

            <button class="btn btn-warning" @click.prevent="toggleBrowseGifs">
                <img src="/imgs/gif-icon.png" width="25px" />
            </button>

        </div>

        <gif-search v-if="browseGifs" @gifSelected="setImgToBody" @gifUnSelected="removeImgFromBody"></gif-search>
    </div>

</template>

<style>

</style>
