<script>

    export default {
        name: 'gifSearch',
            data(){
                return{
                    query:'',
                    apiKey:'9GfDugyQ81Nv7ZW0DFg3eqoU0mEZtMP9',
                    limit: 15,
                    gifs:[],
                    selectedGif: null,
                    dropdownOpen: false


                }
            },

            methods:{

                doSearch(){

                    if(!this.query){
                        return false;
                    }

                    this.gifs = [];
                    this.dropdownOpen= false;

                    // use axios, make an ajax request to giphy API
                    axios.get('https://api.giphy.com/v1/gifs/search?q=' + this.query + '&api_key=' + this.apiKey + '&limit=' + this.limit)
                        .then((response) =>{
                            console.log(response)
                            this.gifs=response.data.data
                            this.dropdownOpen=true;
                        });

                    },

                    selectGif(path){
                        console.log(path)
                        this.selectedGif = path;

                        this.dropdownOpen = false;
                        this.$emit('gifSelected', this.selectedGif);

                    },

                    unSelectGif(){
                        this.selectedGif= path;
                        this.$emit('gifUnSelected');
                    }

                }
            }


</script>

<template>

    <div class="search-bar">
        <div class="input-group">

            <input type="text" class="form-control" v-model="query" @keyup.enter="doSearch" placeholder="Search for a Gif"/>
            <div class="input-group-append">
                <button @click.prevent="doSearch" class="btn btn-warning">
                    Search
                </button>
            </div>
        </div>

        <div class="card selectedGifPreview" v-show="selectedGif" >
            <div class="card-body">
            <div class="close-btn">
                <button class="btn btn-sm btn-danger" @click.prevent="unSelectGif">x</button>
                <button class="btn btn-sm btn-success" type="submit" >&#10004;</button>

            </div>
                <img :src="selectedGif" />

            </div>
        </div>


        <div class="dropdown" :class="{'show' : dropdownOpen}">
            <div class="dropdown-menu">
                <ul>
                    <li class="dropdown-item" v-for="gif in gifs">
                        <img :src="gif.images.fixed_width.url" @click.prevent="selectGif(gif.images.fixed_width.url)"/>
                    </li>
                </ul>
            </div>
        </div>



    </div>

</template>

<style>

.show > .dropdown-menu{
    display:block !important;
}

.search-bar {
    position: relative;
    float:right;
    margin-right:30%;
    width:30%;

}

.search-bar .dropdown-menu {
    max-height: 400px;
    overflow: auto;
}

.selectedGifPreview img {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .search-bar {
        position: relative;
        float:left;
        width:80%;

    }
}

</style>
