<script>

    export default {
        name: 'likeButton',
        props: ['likeCount','hasLiked','tweetId','csrf'],

         mounted(){
             this.dataLikeCount = this.likeCount;
             this.dataHasLiked = this.hasLiked;
         },
            data(){
                return{
                    dataLikeCount:0,
                    dataHasLiked:false

                }
            },

            methods:{
                doLike(){
                    var type='like';

                    if(this.dataHasLiked){
                        type='unlike'
                    }

                    axios({
                        method:'POST',
                        url:'/tweets/' + this.tweetId + '/'+ type,
                        headers:{
                            'X-CSRFToken':this.csrf
                        },
                        json: true

                        }).then((response) => {
                            if(response.data.status == 'success'){
                                // response was successful (regardless of type)
                                return true
                                // if type is like
                                    // add one to like count, set hasLiked to true
                                    if(type == 'like'){
                                        this.dataLikeCount++
                                    }
                                // if type is unlike
                                    // deduct one from like count, set hasLiked to false
                                    if(type =='unlike'){
                                        return false
                                        this.dataLikeCount--
                                    }
                            }
                        });
                    }
                }
            }
</script>

<template>
    <div>
        <button type="submit"
        :class="{'btn btn-link':dataHasLiked}"
        @click="doLike">
            <!-- @if('like') -->
              <i class="star"></i>
              Like {{ dataLikeCount }}
            <!-- @else
            <i class="star2"></i>
            Like {{ dataLikeCount }} -->
        </button>
    </div>


</template>

<style>
    .star {
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.9em;
      margin-right: 0.9em;
      margin-bottom: 1.2em;
      border-right: 0.3em solid transparent;
      border-bottom: 0.7em solid #fc0;
      border-left: 0.3em solid transparent;
      /* Controlls the size of the stars. */
      font-size: 15px;
    }
    .star:before, .star:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0.6em;
      left: -1em;
      border-right: 1em solid transparent;
      border-bottom: 0.7em solid #fc0;
      border-left: 1em solid transparent;
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
    }
    .star:after {
      -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
    }

    .star2 {
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.9em;
      margin-right: 0.9em;
      margin-bottom: 1.2em;
      border-right: 0.3em solid transparent;
      border-bottom: 0.7em solid #000;
      border-left: 0.3em solid transparent;
      /* Controlls the size of the stars. */
      font-size: 15px;
    }
    .star2:before, .star2:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0.6em;
      left: -1em;
      border-right: 1em solid transparent;
      border-bottom: 0.7em solid #000;
      border-left: 1em solid transparent;
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
    }
    .star2:after {
      -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
    }



</style>
