body{
    
}

.feed-box{
    float:left;
    width:90%;
    border: 1px solid #273EBA;
    margin:5%;
    padding:0;
}

.feed-panel{
    float:left;
    width:100%;
    height:40px;
    background-color:rgba(108, 108, 108, 0.33);
    text-align:center;

}

.dot{
    height: 10px;
    width: 10px;
    background-color: #D8DA50;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #fff;

}

.post-container{
    float:left;
    width:100%;
    min-height:100px;
    padding:20px;
}

.post{
    float:left;
    width:100%;
    background-color:#fff;
    min-height:150px;
    padding:20px;

}

.likes{
    width:70%;
    height:40px;
    background-color:rgba(108, 108, 108, 0.33);
    float:left;
    margin-top:20px;
    padding:10px;
}

.write-comment{
    float:left;
    width:100%;
    padding:20px;
}

.main-comment-container{
    width:90%;
    margin-left:10%;
    padding:25px;
}

.comment-container{
    background-color:#fff;
    float:left;
    width:100%;
    min-height:50px;
    padding:20px;
}

.comment-likes{
    width:30%;
    height:40px;
    float:left;
    padding:10px;
}

.comment{
    float:left;
    width:100%;
    background-color:#fff;
    min-height:100px;
    padding:20px;
}

.replies-container{
    max-width:100%;
    margin-left:10%;
}

.replies{
    float:left;
    width:100%;
    padding:20px;
}
