body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.jumbotron{
    padding-top:100px;
    background-image:url('/imgs/bg-graphic.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:#FFF;
    z-index:-1000;
    margin-bottom:0px;
    font-size:1.4em;
}

.left{
    text-align: left;
    padding-left:10%;
}
.center{
    text-align: center;
}

.right{
    text-align: right;
    padding-right:10%;
}
.page-header{
    width:100%;
    height:100px;
    background-color:rgba(136, 189, 178, 1);
    color:#FFF;
    text-align:center;
    padding:30px;
}

.page-container,
.page-container2{
    padding-top:100px;
    height:40vh;
    background-image:url('/imgs/bg-graphic2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgba(216, 218, 80, 1);
}

.page-container2{
    height:60vh;
}

.col-lg-4{
    background-color:rgb(186, 213, 226);
    height:90vh;
    text-align:center;
    padding-top:5%;
    color:fff;
}

.col-lg-8{
    background-image:url('/imgs/constellate.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:90vh;
    padding-top:5%;
    text-align:center;
}

.col-sm-10{
    text-align:center;

}

.form-group{
    width:60%;
    margin:0px auto;
}

.img-circular{
 width: 70px;
 height: 70px;
 background-image: url("/uploads/avatars/{{ Auth::user()->avatar }}");
 margin-right:10px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.img-circular-p{
 width: 200px;
 height: 200px;
 float:left;
 background-image: url("/uploads/avatars/{{ Auth::user()->avatar }}");
 margin-right:10px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}


.twt-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}
.twt-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");

*:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2196f3;
}

input:focus {
  box-shadow: none;
  outline: 0;
}
input[type="text"] {
  width: 400px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 15px;
}
.star:before, .star:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 1em solid transparent;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
.star:after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}



@media only screen and (max-width: 600px) {
.col-lg-4{

    height:50vh;

}

.panel{
    width:100%;
    background color:rgb(209, 209, 209);
}


}
