            body{
                overflow-x:hidden;
            }

            .parallax{
                width: 100vw;
                min-height:100vh;
                float:left;
                background: transparent;

            }

            .major-bg1{
                margin-top:15%;
                float:left;
                width:100%;
                height:85%;
                padding-top:5%;

            }

            .major-bg2{
                float:left;
                background-image: url(/imgs/wrinkled-paper4.jpg);
                background-position: center;
                background-size:cover;
                background-repeat:no-repeat;
                height:100%;
                width:100%;
                padding:20px;
                text-align:center;
            }
            .major-bg2 img{

                height:100vh;
            }

            .major-bg3{
                float:left;
                width:100%;
                max-height:100vh;
                background-image:url(/imgs/night-bg.jpg);
                background-position: center;
                background-size:cover;
                background-repeat:no-repeat;

            }


            #particles-js{
                min-height:100vh;
                width:100vw;
                display:block;
                overflow: hidden;


            }



            .home-container{
                margin-top:100px;
                margin-left:25%;
                position:absolute;
                paddding-bottom:50px;
                top:0;
                height:80vh;
                width:50%;
            }

            .home-title{
                width:100%;
                height:auto;
                color:#f2e9e9;
                background-color:rgba(216, 218, 80, 0.71);
                padding:10px;
                /* rgba(136, 189, 178, 1); */
            }

            .left{
                text-align: left;
                padding-left:10%;
            }
            .center{
                text-align: center;
            }

            .right{
                text-align: right;
                padding-right:10%;
            }
            .home-title h2{
                font-size:3.5rem;
            }



            .home-text {
                width:100%;
                min-width:300px;
                min-height:300px;
                padding:30px;
                background-color:rgba(216, 218, 80, 0.71);
                color:#FFF;
                font-size:1.3rem;
                text-align:center;
                border-radius:35px;
            }

            .home-text2{
                width:94%;
                background-color:rgb(18, 93, 113, 0.57);
                margin-top:3%;
                margin-bottom:3%;
                margin-left:2%;
                border-radius:35px;

            }
            .home-text3{
                width:94%;
                background-color:rgb(18, 93, 113, 0.57);
                margin-top:3%;
                margin-bottom:3%;
                margin-left:2%;
                border-radius:35px;
                padding-left:10%;
                padding-right:10%;

            }
            .home-text3 p{
                color:#FFF;
            }

            .home-text2 h2, h3{
                color:rgba(216, 218, 80, 1);

            }

            .home-text4{
                width:60%;
                background-color:rgba(216, 218, 80, 0.71);
                margin-top:3%;
                margin-left:20%;
                border-radius:35px;
                position:relative;
                z-index:100;
                padding:3%;

            }

            .card{
                width:27%;
                height:90%;
                padding:10px;
                margin-left:25px;
                margin-top:25px;
                margin-bottom:25px;

            }
            .card img{
                height:225px;

            }

            .card-body{

            }

            .clouds-desktop{
                width:100vw;
                display:block;
                overflow:hidden;
                position:relative;
                top:-40%;

            }

            .clouds-desktop img{
                width:100vw;
                height:40vh;
            }

            .clouds-mobile{
                display:none;

            }




            @media only screen and (max-width: 700px) {
                .home-container{
                    margin-left:20%;
                }

            }

            @media only screen and (max-width: 927px) {

                .home-text{
                    width:100%;
                    margin:0;
                }
                .home-text img{
                    width:100%;
                    min-width:275px;

                }
                .home-title h2{
                    font-size:2.5rem;
                }

                .home-text3 .col{
                    min-width:100%;
                    text-align:center;
                }
                .home-text3 h3{
                    clear:both;
                    font-size:1em;
                }

                .major-bg3{
                    height:100vh;
                }
                .home-text4 {
                    margin-top:10%;
                    width:100%;
                    margin-left:0;
                }
                .clouds-desktop{
                    display:none;

                }

                .clouds-mobile{
                    width:100vw;
                    display:block;
                    overflow:hidden;
                    position:relative;
                    top:-30%;

                }
