


.section {
    clear: both;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.section:nth-child(even) {
    color: #220044;
}

.section:nth-child(odd) {
    color: #000;
}



.section-1 .slide-in-text {
    position: absolute;
    top: 30%;
    width: 35%;
    text-align: center;
    font-size: 3em;
    color:#f2e9e9;
    background-color:rgba(216, 218, 80, 0.71);
    border-radius:35px;
    z-index:100;
}



.section-3 .reveal {
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
}

@media only screen and (max-width: 1100px) {
    .section-1 .slide-in-text {
        font-size:2em;
        color:#000;
        width:100%;
    }
}
